@font-face {
    font-family: "Jura_h";
    src: url("fonts/Jura/static/Jura-Bold.ttf");
}

h1{
    font-family: "Jura_h";
    font-size: 48px;
}

h2{
    font-family: "Jura_h";
    font-size: 36px;
}

body{
    margin: 0, 0;
}

h3{
    font-family: "Jura_h";
    font-size: 32px;
}

h4{
    font-family: "Jura_h";
    font-size: 24px;
}

@font-face {
    font-family: "Caveat_p";
    src: url("fonts/Caveat/static/Caveat-Bold.ttf");
}
.p1{
    font-family: "Caveat_p";
    font-size: 36px;
}
.p2{
    font-family: "Caveat_p";
    font-size: 24px;
}

:root{
    --Water:#56BEB8;
    --Sun: #e9c305 ;
    --Grass: #429459;
    --sunset: #DB3D0B;
    --grey: #E2E2E2;
}
header{
    background-image: url("image_for_problem/фон_шапки.svg");
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo{
    border: 3px solid black;
    height: 80px;
    width: 80px;
    border-radius: 100%;
}
.cont{
    width: 100%;
    height: 80px;
    background-color: var(--Sun);
    opacity: 0.5;
}

.navigator{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.navigator a{
    color: black;
    opacity: 0.5;
}
.navigator_2{
    display: flex;
    justify-content: center;
}
.navigator a:hover{
    opacity: 1;
    transition: all .5s ease-out;
}
.navigator a{
    text-decoration: none;
}
.nav_4{
    background-color: var(--sunset);
    opacity: 0.5;
}
.nav_4 a{
    opacity: 1;
}

.if{
    display: none;
}
.els{
    display: none;
}


.var2{
    display: none;
}
.popup{
    margin-top: -400px;
    position: absolute;
    width: 100%;
    height: 130%;
    background-color: rgba(0, 0, 0, 0.8);
    visibility: hidden;
    position: fixed;
}
.popup_body{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 15%;
    
}
.pop_up_content{
    height: 250px;
    width: 400px;
    background-color: #E2E2E2;
}
.back{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.x{
    width: 30px;
    height: 30px;
}
.button_reg{
    list-style-type: none;
    text-decoration: none;
    color: black;
}
.text_pop_up{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
}
.position_col_but_rgistr{
    width: 100%;
    display: flex;
    justify-content: center;
}
.registration{
    background-color: #7e7e7e;
    width: 185px;
    height: 50px;
    display: flex;
    justify-content: center;
}
.registr_col{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.registration:hover{
    border: 1px solid black;
    background-color: #585353;
    transition: all .3s ease-out;
}
.pad{
    margin-bottom: 50px;
}
main{
    height: 1000px;
    display: flex;
    justify-content: center;
    background-color: rgba(86, 190, 184, 0.5);
}
.center_column{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer{
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.line{
    width: 100%;
    display: flex;
    justify-content: space-around;
}