@font-face {
    font-family: "Jura_h";
    src: url("Fonts/Jura/static/Jura-Bold.ttf");
}

h1{
    font-family: "Jura_h";
    font-size: 48px;
}

h2{
    font-family: "Jura_h";
    font-size: 36px;
}

body{
    margin: 0, 0;
    width: 100%;
    height: 100%;
}

h3{
    font-family: "Jura_h";
    font-size: 32px;
}

h4{
    font-family: "Jura_h";
    font-size: 24px;
}

@font-face {
    font-family: "Caveat_p";
    src: url("Fonts/Caveat/static/Caveat-Bold.ttf");
}

.p1{
    font-family: "Caveat_p";
    font-size: 36px;
}
.p2{
    font-family: "Caveat_p";
    font-size: 24px;
}

:root{
    --Water:#56BEB8;
    --Sun: #e9c305 ;
    --Grass: #429459;
    --sunset: #DB3D0B;
    --grey: #E2E2E2;
}
header{
    background-image: url("image_for_problem/фон_шапки.svg");
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo{
    border: 3px solid black;
    height: 80px;
    width: 80px;
    border-radius: 100%;
}
.cont{
    width: 100%;
    height: 80px;
    background-color: var(--Sun);
    opacity: 0.5;
}

.navigator{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.navigator a{
    color: black;
    opacity: 0.5;
}
.navigator_2{
    display: flex;
    justify-content: center;
}
.navigator a:hover{
    opacity: 1;
    transition: all .5s ease-out;
}
.navigator a{
    text-decoration: none;
}
.nav_3{
    background-color: var(--sunset);
    opacity: 0.5;
}
.nav_3 a{
    opacity: 1;
}

.if{
    display: none;
}
.els{
    display: none;
}




.popup{
    margin-top: -400px;
    position: absolute;
    width: 100%;
    height: 130%;
    background-color: rgba(0, 0, 0, 0.8);
    visibility: hidden;
    position: fixed;
}
.popup_body{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 15%;
    
}
.pop_up_content{
    height: 250px;
    width: 400px;
    background-color: #E2E2E2;
}
.back{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.x{
    width: 30px;
    height: 30px;
}
.button_reg{
    list-style-type: none;
    text-decoration: none;
    color: black;
}
.text_pop_up{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
}
.position_col_but_rgistr{
    width: 100%;
    display: flex;
    justify-content: center;
}
.registration{
    background-color: #7e7e7e;
    width: 185px;
    height: 50px;
    display: flex;
    justify-content: center;
}
.registr_col{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.registration:hover{
    border: 1px solid black;
    background-color: #585353;
    transition: all .3s ease-out;
}
.pad{
    margin-bottom: 50px;
}
main{
    padding-left: 120px;
    padding-right: 120px;
}
.sorting{
    display: flex;
    justify-content: center;
    margin-top: 75px;
}
.kart{
    width: 100%;
    height: 520px;
    background-color:rgba(86, 190, 184, 0.5);
    border-radius: 20px;
    display: flex;
}

.position_kart{
    margin-top: 100px;
    margin-bottom: 100px;
}
.photo{
    width: 405px;
    height: 255px;
}
.photo_pos{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ph{
    width: 424px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.zag_pos{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    color: black;
}
.podrobn{
    padding-left: 20px;
    padding-top: 60px;
    color: black;
}
.button{
    width: 220px;
    height: 60px;
    background-color: var(--Grass);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
}
.but{
    list-style-type: none;
    text-decoration: none;
}
.position_button{
    padding-left: 20px;
    margin-top: 20px;
    display: flex;
}
.category{
    height: 70px; 
    width: 250px;
    background-color: #585353;
    margin-left: 300px;
}
.hre{
    list-style-type: none;
    text-decoration: none;
    color: black;
}
.position_button_category{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.newCategory{
    width: 300px;
    height: 180px;
    background-color: bisque;
    border-radius: 20px;
    padding: 20px;
}
.mar{
    width: 100%;
    display: flex;
    justify-content: center;
}
.line{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
}
.backgroundPopUpRedactionTovara{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10000;
    position: fixed;
    margin-top: -350px;
    display: flex;
    justify-content: center;
}
.windowToForm{
    background-color: white;
    width: 450px;
    height: 870px;
    margin-top: 70px;
}

.deleteimg{
    width: 20px;
    height: 20px;
}










