@font-face {
    font-family: "Jura_h";
    src: url("Fonts/Jura/static/Jura-Bold.ttf");
}

h1{
    font-family: "Jura_h";
    font-size: 48px;
}

h2{
    font-family: "Jura_h";
    font-size: 36px;
}

body{
    margin: 0, 0;
}

h3{
    font-family: "Jura_h";
    font-size: 32px;
}

h4{
    font-family: "Jura_h";
    font-size: 24px;
}

@font-face {
    font-family: "Caveat_p";
    src: url("Fonts/Caveat/static/Caveat-Bold.ttf");
}

.p1{
    font-family: "Caveat_p";
    font-size: 36px;
    color: black;
}
.p2{
    font-family: "Caveat_p";
    font-size: 24px;
}

:root{
    --Water:#56BEB8;
    --Sun: #e9c305 ;
    --Grass: #429459;
    --sunset: #DB3D0B;
    --grey: #E2E2E2;
}
header{
    background-image: url("image_for_problem/фон_шапки.svg");
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo{
    border: 3px solid black;
    height: 80px;
    width: 80px;
    border-radius: 100%;
}
.cont{
    width: 100%;
    height: 80px;
    background-color: var(--Sun);
    opacity: 0.5;
}

.navigator{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.navigator a{
    color: black;
    opacity: 0.5;
}
.navigator_2{
    display: flex;
    justify-content: center;
}
.navigator a:hover{
    opacity: 1;
    transition: all .5s ease-out;
}
.navigator a{
    text-decoration: none;
}


.if{
    display: none;
}
.els{
    display: none;
}




.popup{
    margin-top: -400px;
    position: absolute;
    width: 100%;
    height: 130%;
    background-color: rgba(0, 0, 0, 0.8);
    visibility: hidden;
    position: fixed;
}
.popup_body{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 15%;
    
}
.pop_up_content{
    height: 250px;
    width: 400px;
    background-color: #E2E2E2;
}
.back{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.x{
    width: 30px;
    height: 30px;
}
.button_reg{
    list-style-type: none;
    text-decoration: none;
    color: black;
}
.text_pop_up{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
}
.position_col_but_rgistr{
    width: 100%;
    display: flex;
    justify-content: center;
}
.registration{
    background-color: #7e7e7e;
    width: 185px;
    height: 50px;
    display: flex;
    justify-content: center;
}
.registr_col{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.registration:hover{
    border: 1px solid black;
    background-color: #585353;
    transition: all .3s ease-out;
}
.pad{
    margin-bottom: 50px;
}
.location{
    width: 100%;
    display: flex;
    justify-content: center;
}
.location_column{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.b{
    width: 220px;
    height: 60px;
    background-color: var(--Grass);
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.but{
    height: 60px;
    list-style-type: none;
    text-decoration: none;
}
.but .button h4{
    color: black;
}
.button_wid{
    width: 220px;
    display: flex;
    justify-content: center;
}
.position_button{
    padding-left: 20px;
    margin-top: 20px;
}
.button_location{
    display: flex;
}
.button_location{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.admin_panel{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    visibility: hidden;
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: center;
}
.position_admin_window{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.admin_window{
    width: 330px;
    height: 400px;
    background-color: var(--Sun);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid black;
}
.background_button{
    width: 206px;
    height: 47px;
    background-color: #585353;
    display: flex;
    justify-content: center;
}
.comment{
    width: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-decoration: none;
}
.col_pos{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bc{
    width: 1000px;
    height: 600px;
    background-color: rgba(86, 190, 184, 0.5);
    border-radius: 50px;
}
.lok{
    width: 100%;
    display: flex;
    justify-content: center;
}
.pop_fon{
    margin-top: -400px;
    position: absolute;
    width: 100%;
    height: 130%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: flex;
    justify-content: center;
    visibility: hidden;
}
.BC_phone{
    width: 400px;
    height: 500px;
    background-color: #DB3D0B;
    border-radius: 20px;
}
.column_pop{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.coment_to_type{
    margin-left: 75px;
    margin-top: 125px;
}
.loct{
    width: 100%;
    display: flex;
    justify-content: center;
}